@model IEnumerable<SpectrumMeetEF.User>
    @{
        ViewBag.Title = "UserSearch";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <h2>Find Parents In Your Area</h2>
    <div class="container">
        <p>
            <input id="txtSearch" class="form-control-lg" placeholder="Search by Location" oninput="SearchByLocation()" />
            <label class="filter form-label">Filter By Condition:</label>@Html.DropDownList("Condition", null, htmlAttributes: new { @class = "filter form-control select-add-placeholder", @style="display:inline-block;", @onchange = "SearchByCondition()"})
        </p>
    </div>
    
    <div id="itemContainer">
    </div>

    @section Scripts{
        <script type="text/javascript">
        $(document).ready(function() {
            $(".select-add-placeholder").prepend("<option value='' disabled selected>Select Condition...</option>");
        });
        function SearchByLocation() {
            var param = $('#txtSearch').val();
            var container = $('#itemContainer');
            container.load('@Url.Action("_SearchByLocation")?loc=' + param);
            }
        function SearchByCondition() {
            var condition = $('#Condition').val();
            var container = $('#itemContainer');
            container.load('@Url.Action("_SearchByCondition")?id=' + condition);
            }
        </script>
    }
