@{
    ViewBag.Title = "Spectrum Meet";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>A Free Social Networking Platform for Neurodivergent Families</p>
</main>