@{
    ViewBag.Title = "Home Page";
}
<body>
   
    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <h2 class="heading-box">A Free Social Networking Platform for Neurodivergent Families</h2>
                    <br>
                    <br>
                    <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                        <a href="http://dotnet.reynolds.edu/CapStudent/OOPsie/Administration/Accounts/Login" class="btn-get-started">Login</a>
                    </div> 
                </div>

            </div>


        </div>
    </section>

    <main>



    </main>


</body>
