@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="SpectrumMeet">
        <h1 id="title">SpectrumMeet</h1>
        <p class="lead">SpectrumMeet is a free forum for parents of neurodivergent children to connect with each other and coordinate lasting friendships for their kids</p>
    </section>

</main>